
@font-face {
	font-family: NexaBold;
	src: url(assets/fonts/NexaBold.otf);
}

body {
	font-family: NexaBold;
	color: #7498bc;
}

#landing {
	background-image: url("assets/png/Asset 15.png");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
	position: absolute;
}

/*div#leftBiome {
	width: 30%;
	position: fixed;
	margin: 0;
	padding: 0;
}*/

#navBar {
	background-image: url("assets/png/Asset 16.png");
	background-size: cover;
	width: 100%;
	height: 60px;
	display: flex;
}

#navBar ul {
	list-style-type: : none;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	width: 100%;
}

#navBar ul li {
	display: inline;
	float: right;
}

#navBar ul li a {
	display: block;
	text-align: center;
	padding: 23px 16px;
	color: #7498bc;
	text-decoration-line: none;
}

#navBar ul li a:hover {
	color: #43afed;
	background-color: rgba(255, 255, 255, .05);
}

.active {
	color: #43afed;
}

#emailField {
    position: relative;
    width: 40%;
    height: 10%;
    left: 30%;
    top: 30%;
}

#emailInput {
	background-color: transparent;
	color: #ffffff;
	border-width: 0;
	border: none;
	border-bottom: 2px solid rgba(255, 255, 255, .5);
	opacity: .5;
	width: 75%;
	position: absolute;
/*	top: 80%;*/
    bottom: 0;
	left: 0;
	font-family: NexaBold;
	font-size: 15px;
	font-weight: lighter;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 3px;
	padding-bottom: 5px;
}

#emailInput:focus {
	border-bottom: 2px solid rgba(255, 255, 255, 1);
}

#emailInput, #bottle:focus {
	outline: none;
	opacity: 1;
}

#bottle:hover {
	opacity: 1;
}

#bottle:active{
	width: 21%;
	right: .5%;
    bottom: .5%;
/*	top: 77.6%;*/
}

#bottle {
	width: 22%;
	position: absolute;
    right: 0;
    bottom: 0;
/*	top: 77.5%;*/
	cursor: pointer;
	opacity: .5;
}

#otter {
	width: 156px;
	position: absolute;
/*	right: 15%;*/
    right: calc((100% - 156px) * .15);
    bottom: 15%;
}

img#centerLogo {
	width: 185px;
    height: 230.69px;
	position: absolute;
	left: calc((100% - 185px) / 2);
	top: 38%;
}

div#center {
    position: relative;
    width: 900px;
    height: 300px;
    top: 3%;
    left: calc((100% - 900px) / 2);
}

img#waveGroup {
	width: 100%;
	position: absolute;
	left: 3%;
	top: 0;
    opacity: .4;
	display: none;
}

.lights {
	opacity: .1;
	animation: illuminate 5s infinite;
	animation-timing-function: linear;
}

img#lights1 {
	width: 49%;
    width: 542px;
	position: absolute;
	left: 25%;
	top: 17%;
}

img#lights2 {
	width: 53%;
    width: 586px;
	position: absolute;
	left: 14%;
	top: 12%;
	animation-delay: 2s;
}

img#spotLight {
	width: 18%;
    width: 199px;
	position: absolute;
	top: 19%;
	left: 38%;
    z-index: 1;
}

.waves {
    position: absolute;
	animation: harmonic 5s infinite;
	animation-timing-function: linear;
}

img#wave4 {
/*	width: 43%;*/
    width: 510px;
	left: 3%;
	top: 8%;
	animation-delay: 3s;
}

img#wave3 {
/*	width: 64%;*/
    width: 758px;
	left: 18%;
	top: 6%;
	animation-delay: 1s;
}

img#wave2 {
/*	width: 55%;*/
	width: 652px;
    left: 15%;
	top: 16%;
	animation-delay: 2s
}

img#wave1 {
/*	width: 53%;*/
    width: 628px;
	left: 15%;
	top: 0;
}

div#fish {
	position: relative;
	top: 40%;
	animation: swim 20s infinite;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

.fish {
	position: absolute;
	top: 48%;
	animation: bounce 2s infinite;
	animation-timing-function: linear;
}

img#fishGroup {
	width: 100%;
	position: absolute;
	top: 48%;
	opacity: 0;
}

img#fish1 {
	width: 73%;
	left: 11%;
}

img#fish2 {
	width: 94%;
	left: 6%;
	animation-delay: .2s;
}

img#fish3 {
	width: 95%;
	animation-delay: .4s;
}

img#leftBiome {
	width: 30%;
	position: absolute;
	bottom: -10px;
	left: -2%;
}

img#rightBiome {
	width: 25%;
	position: absolute;
	bottom: 0;
	right: -3.5%;
}

@keyframes illuminate {
	0%, 100% {opacity: .1;}
	50% {opacity: 1;}
}

@keyframes harmonic {
	0%, 100% {transform: translateX(0);}
	25% {transform: translateX(-3%);}
	75% {transform: translateX(3%);}
}

@keyframes bounce {
	0%, 50%, 100% {transform: translateY(0);}
	25% {transform:translateY(-5px);}
	75% {transform: translateY(-3px);}
}

@keyframes swim {
	from {
		transform: translateX(200%);
	}
	to {transform: translateX(-100%);}
}

@media screen and (max-width: 600px) {
    #otter {
        display: none;
    }
    
    #emailField {
        width: 60%;
        left: 20%;
    }
    
    #emailInput {
        position: static;
        width: 100%;
        left: 0;
    }
    
    #bottle {
        position: relative;
        width: 48%;
        left: 27%;
        top: 10px;
    }
    
    #bottle:active {
        width: 47%;
        left: 27.5%;
    }
    
    img#leftBiome {
        display: none;
    }
    
    img#rightBiome {
        width: 60%;
        right: -20%;
    }
}

@media screen and (min-width: 600px) {
    #otter {
        right: calc((100% - 156px) * .1);
        bottom: 11%;
    }
    
    #emailField {
        width: 46%;
        left: 27%;
    }
    
    #emailInput {
        position: static;
        width: 100%;
        left: 0;
    }
    
    #bottle {
        position: relative;
        width: 40%;
        left: 32%;
        top: 10px;
    }
    
    #bottle:active {
        width: 39%;
        left: 32.5%;
    }
}

@media screen and (min-width: 768px) {
    #emailField {
        width: 44%;
        left: 28%;
    }
    
    #emailInput {
        width: calc(100% - 75px - 10px);
        position: absolute;
        left: 0;
    }
    
    #bottle {
        width: 75px;
        position: absolute;
        left: auto;
        right: 0;
        top: auto;
        bottom: -5px;
    }
    
    #bottle:active {
        width: 73px;
        left: auto;
        right: 1px;
        bottom: -4px;
    }
}

@media screen and (min-width: 992px) {
    #otter {
        right: calc((100% - 156px) * .13);
    }
    
    #bottle {
        width: 96px;
        bottom: -7px;
    }
    
    #bottle:active {
        width: 94px;
        bottom: -6px;
    }
    
    #emailInput {
        width: calc(100% - 96px - 13px);
    }
}

@media screen and (min-width: 1200px) {
    #otter {
        right: calc((100% - 156px) * .15);
    }
    
    #emailField {
        width: 40%;
        left: 30%;
    }
    
    #bottle {
        width: 116px;
    }
    
    #bottle:active {
        width: 114px;
    }
    
    #emailInput {
        width: calc(100% - 116px - 15px);
    }
    
    div#center {
        width: 80%;
        height: 30ew;
        left: 10%;
    }
    
    img#lights1 {
        width: 60%;
        left: 25%;
        top: 17%;
    }

    img#lights2 {
        width: 65%;
        left: 14%;
        top: 12%;
    }

    img#spotLight {
        width: 22%;
        top: 19%;
        left: 38%;
    }

    img#wave4 {
    	width: 57%;
        left: 3%;
        top: 8%;
    }

    img#wave3 {
    	width: 84%;
        left: 18%;
        top: 6%;
    }

    img#wave2 {
    	width: 72%;
        left: 15%;
        top: 16%;
    }

    img#wave1 {
    	width: 70%;
        left: 15%;
        top: 0;
    }
}

