
@font-face {
	font-family: NexaBold;
	src: url(assets/fonts/NexaBold.otf);
}

body {
	font-family: NexaBold;
	color: #7498bc;
}

#landing {
	background-image: url("assets/png/Asset 15.png");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
	position: absolute;
}

/*div#leftBiome {
	width: 30%;
	position: fixed;
	margin: 0;
	padding: 0;
}*/

#navBar {
	background-image: url("assets/png/Asset 16.png");
	background-size: cover;
	width: 100%;
	height: 60px;
	display: flex;
}

#navBar ul {
	list-style-type: : none;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	width: 100%;
}

#navBar ul li {
	display: inline;
	float: right;
}

#navBar ul li a {
	display: block;
	text-align: center;
	padding: 23px 16px;
	color: #7498bc;
	text-decoration-line: none;
}

#navBar ul li a:hover {
	color: #43afed;
	background-color: rgba(255, 255, 255, .05);
}

.active {
	color: #43afed;
}


#emailInput {
	background-color: transparent;
	color: #ffffff;
	border-width: 0;
	border: none;
	border-bottom: 2px solid rgba(255, 255, 255, .5);
	opacity: .5;
	width: 30%;
	position: absolute;
/*	top: 80%;*/
    bottom: 18%;
	left: 30%;
	font-family: NexaBold;
	font-size: 15px;
	font-weight: lighter;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 3px;
	padding-bottom: 5px;
}

#emailInput:focus {
	border-bottom: 2px solid rgba(255, 255, 255, 1);
}

#emailInput, #bottle:focus {
	outline: none;
	opacity: 1;
}

#bottle:hover {
	opacity: 1;
}

#bottle:active{
	width: 7.6%;
	left: 62.2%;
    bottom: 17.2%;
/*	top: 77.6%;*/
}

#bottle {
	width: 8%;
	position: absolute;
	left: 62%;
    bottom: 17%;
/*	top: 77.5%;*/
	cursor: pointer;
	opacity: .5;
}

#otter {
	width: 156px;
	position: absolute;
/*	right: 15%;*/
    right: calc((100% - 156px) * .15);
    bottom: 15%;
}

img#centerLogo {
	width: 185px;
    height: 230.69px;
	position: absolute;
	left: calc((100% - 185px) / 2);
	top: 38%;
}

img#waveGroup {
	width: 80%;
	position: absolute;
	left: 12%;
	top: 12%;
	opacity: .4;
}

.lights {
	opacity: .1;
	animation: illuminate 5s infinite;
	animation-timing-function: linear;
}

img#lights1 {
	width: 49%;
    width: 542px;
	position: absolute;
	left: 29%;
	top: 17%;
}

img#lights2 {
	width: 53%;
    width: 586px;
	position: absolute;
	left: 21%;
	top: 17%;
	animation-delay: 2s;
}

img#spotLight {
	width: 18%;
    width: 199px;
	position: absolute;
	top: 19%;
	left: 38%;
}

.waves {
    position: absolute;
	animation: wave 5s infinite;
	animation-timing-function: linear;
}

img#wave4 {
/*	width: 43%;*/
    width: 510px;
	left: 12%;
	top: 15%;
	animation-delay: 3s
}

img#wave3 {
/*	width: 64%;*/
    width: 758px;
	left: 28%;
	top: 15%;
	animation-delay: 1s
}

img#wave2 {
/*	width: 55%;*/
	width: 652px;
    left: 25%;
	top: 18%;
	animation-delay: 2s
}

img#wave1 {
/*	width: 53%;*/
    width: 628px;
	left: 23.5%;
	top: 12%;
}

div#fish {
	position: relative;
	top: 40%;
	animation: swim 20s infinite;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

.fish {
	position: absolute;
	top: 48%;
	animation: bounce 2s infinite;
	animation-timing-function: linear;
}

img#fishGroup {
	width: 100%;
	position: absolute;
	top: 48%;
	opacity: 0;
}

img#fish1 {
	width: 73%;
	left: 11%;
}

img#fish2 {
	width: 94%;
	left: 6%;
	animation-delay: .2s;
}

img#fish3 {
	width: 95%;
	animation-delay: .4s;
}

img#leftBiome {
	width: 30%;
	position: absolute;
	bottom: -10px;
	left: -2%;
}

img#rightBiome {
	width: 25%;
	position: absolute;
	bottom: 0;
	right: -3.5%;
}

@keyframes illuminate {
	0%, 100% {opacity: .1;}
	50% {opacity: 1;}
}

@keyframes wave {
	0%, 100% {transform: translateX(0);}
	25% {transform: translateX(-3%);}
	75% {transform: translateX(3%);}
}

@keyframes bounce {
	0%, 50%, 100% {transform: translateY(0);}
	25% {transform:translateY(-5px);}
	75% {transform: translateY(-3px);}
}

@keyframes swim {
	from {
		transform: translateX(200%);
	}
	to {transform: translateX(-100%);}
}

@media screen and (max-width: 600px) {
    #otter {
        display: none;
    }
    
    #emailInput {
        width: 56%;
        left: 22%;
        bottom: 20%;
    }
    
    #bottle {
        width: 24%;
        left: 38%;
        bottom: 12%
    }
    
    #bottle:active{
        width: 23.6%;
        left: 38.2%;
        bottom: 12.2%
    }
    
    img#leftBiome {
        display: none;
    }
    
    img#rightBiome {
        width: 60%;
        right: -20%;
    }
}

@media screen and (min-width: 600px) {

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {
    img#wave4 {
        width: 43%;
        left: 12%;
        top: 15%;
    }

    img#wave3 {
        width: 64%;
        left: 28%;
        top: 15%;
    }

    img#wave2 {
        width: 55%;
        left: 25%;
        top: 18%;
    }

    img#wave1 {
        width: 53%;
        left: 23.5%;
        top: 12%;
    }
}

